.technology-main {
  .details-tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.6rem 7rem;
  }
  .details-tech-image {
    margin-bottom: 2.7rem;
    transform: scale(1);
    transition: all 0.2s linear;
  }
  .details-tech-content {
    font-size: 1.25rem;
    text-align: justify;
    line-height: 1.8rem;
  }
}
@media all and (max-width: 800px) {
  .technology-main {
    .details-tech {
      padding: 2.4rem 4.5rem;
    }
    .details-tech-image {
      transform: scale(0.85);
    }
  }
}
