@import "./colors";

.mainHeading {
  margin: 2.7rem 0;
  display: grid;
  grid-template-columns: 1.6fr auto 1.6fr;
  padding: 0 6rem;
  .dotted {
    border-bottom: 1px solid $green;
    border-bottom-style: dashed;
  }
  span {
    text-align: center;
    border-bottom: 0.6rem solid $green;
    padding: 0 1.5rem;
    font-size: 3rem;
    font-weight: 700;
    color: $black;
    margin: 0 1rem;
    text-transform: uppercase;
  }
}

.heading2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .line-border-right {
    width: 100%;
    height: 6rem;
    border-right: 0.42rem solid $green;
  }
  .line-border-left {
    width: 100%;
    height: 6rem;
    border-left: 0.42rem solid $green;
  }
  span {
    width: 100%;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 3px solid $green;
    border-bottom-style: dashed;
    padding: 1rem 1.5rem;
    margin: 0 1.2rem;
    font-size: 2rem;
    font-weight: 700;
  }
}
