@import "../colors";

footer {
  background-color: $footer;
  color: $white;
  padding: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .logo-foot {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 10rem;
    }
    .foot-name {
      font-size: 2.5rem;
      font-weight: 700;
      margin-top: 1rem;
    }
    .foot-desc {
      font-size: 1rem;
      font-weight: 400;
      margin-top: 1rem;
    }
  }
  .footer-details {
    grid-column: 2/3;
  }
  .address-foot {
    justify-self: start;
    padding-top: 2rem;
    text-align: left;
    .foot-title {
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 0.8rem;
    }
    .foot-desc {
      display: flex;
      align-items: center;
    }
  }
  .explore-foot {
    justify-self: start;
    text-align: left;
    padding-top: 2rem;
    .foot-title {
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 0.8rem;
    }
    .links-foot {
      button {
        color: white;
      }
    }
  }
}

@media all and (max-width: 800px) {
  footer {
    grid-template-columns: 1fr;
    .logo-foot {
      grid-column: 1/-1;
    }
    .footer-details {
      grid-column: 1/-1;
      .explore-foot,
      .address-foot {
        text-align: center;
        .foot-desc {
          justify-content: center;
        }
      }
    }
  }
}
